.input-wrapper {
  position: relative;
  border: 2px solid #545f7d26;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  background-color: white;

  &:focus-within {
    border-color: #39cdcc;
  }
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  font-size: inherit;
  background-color: white;
  color: black;
}

.toggle-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #39cdcc;
  background-color: white;
  outline: none;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
