.user-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;

  .back-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    span {
      color: #545f7d;
    }
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
      font-weight: 500;
      font-size: 1.5rem;
      color: #213f7d;
    }

    .action-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      max-width: 400px;
      width: 100%;
    }
  }

  .profile-card {
    width: 100%;
    padding: 1.5rem;
    padding-bottom: 0;
    background: #fff;
    border: 1px solid #213f7d0f;

    .profile-header {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 1.5rem;
      padding: 0.25rem 0;

      @media (min-width: 768px) {
        height: 100px;
        flex-wrap: nowrap;
        align-items: center;
      }

      img {
        width: 5rem;
        height: 5rem;
      }

      .user-info {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 1.375rem;
          font-weight: 500;
          color: #213f7d;
        }

        span {
          font-size: 0.875rem;
          color: #545f7d;
        }
      }

      .user-tier {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        p {
          font-size: 0.875rem;
          font-weight: 500;
          color: #545f7d;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 1px;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .bank-details {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 1.375rem;
          font-weight: 500;
          color: #213f7d;
        }

        span {
          font-size: 0.75rem;
          color: #213f7d;
        }
      }
    }

    .tabs {
      width: 100%;
      overflow-x: auto;
      margin-top: 2.5rem;

      .tab-list {
        display: flex;
        align-items: flex-end;
        min-width: max-content;
        width: 100%;
        gap: 2.5rem;

        @media (min-width: 768px) {
          gap: 1rem;
          min-width: 100%;
        }

        button {
          flex-shrink: 0;
          flex: 1 0 auto;
          padding-bottom: 0.5rem;
          font-size: 0.875rem;
          white-space: nowrap;
          border-bottom: 2px solid white;
          color: #000000cc;

          &.active {
            border-color: #39cdcc;
            color: #39cdcc;
          }
        }
      }
    }
  }

  .user-details-body {
    width: 100%;
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #213f7d0f;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    overflow-x: scroll;
    @media screen and (max-width: 768px) {
      min-height: 60vh;
    }

    h1 {
      font-weight: 500;
      color: #213f7d;
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }

    .section {
      width: 100%;

      .details-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem 0;

        @media (min-width: 1024px) {
          grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 1280px) {
          grid-template-columns: repeat(5, 1fr);
        }
      }
    }
  }
}
